{{ "<!-- footer -->" | safeHTML }}
<footer class="bg-secondary">
    <div class="py-100 border-bottom" style="border-color: #454547 !important">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ with .Site.Params.footer.logo }}
                    {{ "<!-- logo -->" | safeHTML }}
                    <img class="mb-30 max-width-relative" src="{{ . | absURL }}" alt="logo">
                    {{ end }}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="mb-5 mb-md-0 text-center text-md-left">
                        {{ with .Site.Params.footer.content }} <p class="text-white mb-30"> {{ . | safeHTML }}</p> {{ end }}
                        {{ "<!-- social icon -->" | safeHTML }}
                        <ul class="list-inline">
                            {{ range .Site.Params.footer.socialIcon }}
                            <li class="list-inline-item">
                                <a class="social-icon-outline" href="{{ .URL | absURL }}">
                                    <i class="{{ .icon }}"></i>
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>

                {{ "<!-- footer navigation links -->" | safeHTML }}
                <div class="col-lg-4 col-md-6 col-12">
                    <h4 class="text-white mb-4">Povezave</h4>
                    <div class="row">
                        <div class="col-6">
                            <ul class="footer-links">
                            {{ range (first (div (len .Site.Menus.nav) 2) .Site.Menus.nav) }}
                                {{ partial "footer_links.html" . }}
                            {{ end }}
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="footer-links">
                            {{ range (last (math.Ceil (div (len .Site.Menus.nav) 2.0)) .Site.Menus.nav) }}
                                {{ partial "footer_links.html" . }}
                            {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 align-self-center">
                    {{ partial "newsletter.html" }}
                </div>


            </div>
        </div>
    </div>

    {{ "<!-- copyright -->" | safeHTML }}
    <div class="pt-4 pb-3 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <p class="text-white text-center text-md-left">
                       {{ with .Site.Params.footer.copyright }} {{ . | safeHTML }}</p> {{ end }}
                </div>
                <div class="col-lg-6 col-md-7">
                    <ul class="list-inline text-center text-md-right">
                        {{ range .Site.Params.footer.links }}
                        <li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
                            <a class="font-secondary text-white" href="{{ .URL | absURL }}">
                                <small>{{ .name }}</small>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>

        {{ "<!-- back to top -->" | safeHTML }}
        <button class="back-to-top">
            <i class="ti-angle-up"></i>
        </button>
    </div>
</footer>
{{ "<!-- /footer -->" | safeHTML }}

{{ partial "netlify-cms-redirect.html" . }}

</body>

</html>