{{ "<!-- izobrazevanje aktualno single -->" | safeHTML }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 py-100">
                <div class="border rounded bg-white">
                    {{ if .Params.image }}
                        <img class="img-fluid rounded-top mx-auto d-block" src="{{ .Params.image | absURL }}" alt="blog-image">
                    {{ end }}
                    <div class="p-4">
                        <h3>{{ .Title }}</h3>
                        <ul class="list-inline d-block pb-4 border-bottom mb-3">
                            <li class="list-inline-item text-color">Objavljeno: {{ .PublishDate.Format "2. 1. 2006" }}</li>
                        </ul>
                        <div class="post-content">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
            {{ partial "sidebar.html" . }}
            </div>
        </div>
    </div>
</section>
{{ "<!-- /izobrazevanje aktualno single -->" | safeHTML }}