{{ "<!-- single -->" | safeHTML }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 py-100">
                <h3>{{ .Title }}</h3>
                <div class="post-content">
                    {{ .Content }}
                </div>
                <div class="row" data-ref="mixitup-container">
                    {{ range where .Site.RegularPages "Type" "izobrazevanjaZaSole" }}
                    {{ "<!-- item -->" | safeHTML }}
                    <div class="col-sm-6 mb-4">
                        <a href="{{ .Permalink }}" class="h4 font-primary text-dark">
                            <article class="card">
                                <div class="card-img-wrapper overlay-rounded-top">
                                    <img class="card-img-top mx-auto d-block post-img" src="{{ default "/images/placeholder.jpg" .Params.image | absURL }}" alt="thumbnail">
                                </div>
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center card-title-text py-3">
                                        {{ .Title }}
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                    {{ end }}

                </div>
            </div>

            {{ partial "sidebar.html" . }}
        </div>
    </div>
</section>
{{ "<!-- /single -->" | safeHTML }}