{{ "<!-- single -->" | safeHTML }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 py-50">
                <div class="pr-4">
                    <h3>{{ .Title }}</h3>
                    <div class="post-content">
                        {{ .Content }}
                    </div>
                </div>
            </div>

            {{ partial "sidebar.html" . }}
        </div>
    </div>
</section>
{{ "<!-- /single -->" | safeHTML }}