{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

{{ partial "pageTitle.html" . }}

{{ "<!-- izobrazevanje single -->" | safeHTML }}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 py-100">
        <div class="border rounded bg-white">
          <div class="p-4 mb-30">
            <h3>{{ .Title }}</h3>
            <hr>
            <div class="post-content">
              {{ .Content }}

              {{ if (isset .Params "prijavnica") }}
                <div class="mt-4">
                  <a href="{{ .Params.prijavnica }}" class="btn btn-primary" target="_blank" style="font-size: larger;">Prijavnica</a>
                </div>

                <div class="mt-2">
                  <a href="/pogoji/" class="ml-2">Pogoji</a>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>

      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
{{ "<!-- /izobrazevanje single -->" | safeHTML }}

{{ partial "footer.html" . }}