{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

{{ partial "pageTitle.html" . }}

{{ "<!-- pretekla -->" | safeHTML }}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 py-100">
        <div class="post-content">
          {{ .Content }}
        </div>
        <div class="post-content-extended pt-3">
          <div class="row">
          {{ $v1 := where .Site.RegularPages "Type" "izobrazevanje" }}
          {{ $v2 := where $v1 ".Params.preteklo" true }}
          {{ $v3 := ($v2.ByParam "dateStart").Reverse }}

          {{ $paginator := .Paginate $v3 }}

          {{ range $paginator.Pages }}
          {{ "<!-- item -->" | safeHTML }}
          <div class="col-12 pb-4">
              <article class="mb-2">
                <div class="">
                  <div class="row align-items-center">
                    <div class="col-1 text-center">
                      <div>
                        <span class="h4 text-primary">
                          {{ with (index .Params.Dates 0)}} {{ . | dateFormat "2"}} {{end}}
                        </span>
                        <span class="h5 text-primary">
                          {{ index $.Site.Data.meseci (dateFormat "1" (index .Params.Dates 0)) }}
                        </span>
                      </div>
                      <div>
                        {{ with (index .Params.Dates 0)}} {{ . | dateFormat "2006"}} {{end}}
                      </div>
                    </div>

                    <div class="col-11">
                      <a href="{{ .Permalink }}" class="h4 font-primary text-dark">
                        {{ .Title }}
                      </a>
                    </div>
                  </div>

                </div>
              </article>
          </div>
          {{ end }}

          <div class="col-12">
            <div class="d-flex justify-content-center" style="margin-top: 30px;">
              {{ template "_internal/pagination.html" . }}
            </div>
          </div>

          </div>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
{{ "<!-- /pretekla -->" | safeHTML }}

{{ partial "footer.html" . }}
