{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

{{ partial "pageTitle.html" . }}

{{ "<!-- izobrazevanje za podjetje -->" | safeHTML }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 py-50">
                <div class="pr-4">
                    <h3>{{ .Title }}</h3>
                    {{ range sort .Params.tagsIzobrazevanjaZaPodjetja }}
                    <span class="badge badge-pill badge-gray-outline badge-weight-500">
                        {{ . }}
                    </span>
                    {{ end }}
                    <hr>
                    <div class="post-content">
                        {{ .Content }}

                        <hr>

                        <h4>Izvajalci:</h4>
                        <ul>
                            {{ range .Params.izvajalci }}
                            <li>
                                {{ $izvajalec := where $.Site.RegularPages "Type" "izvajalci" }}
                                {{ $izvajalec := $izvajalec | intersect (where $.Site.RegularPages "Title" .) }}
                                {{ if (gt (len $izvajalec) 0) }}
                                    <a href="{{ (index $izvajalec 0).URL | absURL }}">
                                        {{ . }}
                                    </a>
                                {{ else }}
                                    {{ . }}
                                {{ end }}
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>

            {{ partial "sidebar.html" . }}
        </div>
    </div>
</section>
{{ "<!-- /izobrazevanje za podjetje -->" | safeHTML }}

{{ partial "footer.html" . }}