{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

{{ partial "pageTitle.html" . }}


{{ "<!-- izvajalci -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      {{ range .Data.Pages.ByParam "LastName" }}
      {{ "<!-- member -->" | safeHTML }}
      <div class="col-lg-3 col-sm-6 mb-4">
        <a href="{{ if .Params.redirect }}{{ .Params.redirect }}{{ else }}{{ .Permalink }}{{ end }}">
          <div class="card text-center">
            <img class="card-img-top" src="{{ .Params.Image | absURL }}" alt="team-member">
            <div class="card-body card-body-2 pb-2" style="cursor: pointer;">
              <h5 class="card-title">{{ .Title }}</h5>
            </div>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ "<!-- /izvajalci -->" | safeHTML }}


{{ partial "footer.html" . }}