{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

{{ "<!-- image -->" | safeHTML }}
<section>
    <div class="homepage-slider position-relative">
        <div class="homepage-slider-item py-160" style="background-image: url('{{ .Params.bgImage | absURL }}')" data-icon="ti-comments"
             data-text="{{ .Params.Title }}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content">
                            <h1 class="font-weight-bold mb-3" data-duration-in=".5" data-animation-in="fadeInLeft"
                                data-delay-in="0.1">Akademija FRI</h1>
                            <h4 class="text-uppercase mb-1" data-duration-in=".5" data-animation-in="fadeInLeft"
                                data-delay-in="0.2">Vrhunsko znanje</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- /image -->" | safeHTML }}

{{ "<!-- main -->" | safeHTML }}
<section class="section section-extended-top section-extended-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title section-title-border-half">{{ .Params.subtitle }}</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="homepage-main-content">
                        {{ .Content }}
                    </div>
                </div>
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="{{ .Params.mainImage | absURL }}" alt="philosophy-image">
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- /main-->" | safeHTML }}

{{ with (where .Site.RegularPages "Type" "izobrazevanje") }}
{{ if (len (where . ".Params.aktualno" true)) }}

{{ "<!-- izobrazevanje aktualno -->" | safeHTML }}
<section class="section bg-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="section-title section-title-border-gray">Aktualna izobraževanja</h2>
            </div>

            {{ range sort (where $.Site.RegularPages "Type" "izobrazevanje") "Params.date" "asc" }}
            {{ if .Params.Aktualno }}
            <div class="col-lg-8">
                {{ "<!-- izobrazevanje aktualno item -->" | safeHTML }}
                <div class="card card2">
                    <h4 class="card-title pt-3">{{ .Params.Title }}</h4>
                    <h6>
                        {{ partial "izobrazevanjaDisplayDates.html" . }}
                    </h6>

                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-8">
                            <img class="max-width-relative" src="{{ .Params.image | absURL }}" alt="izobrazevanje-aktualno-image">
                        </div>

                        <div class="col-lg-9">
                            <p>{{ .Summary }}</p>
                            <a class="btn btn-primary btn-slim float-right" href="{{ .Permalink }}">Več</a>
                        </div>

                    </div>

                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- /izobrazevanje aktualno -->" | safeHTML }}

{{ end }}
{{ end }}


{{ "<!-- ponudba -->" | safeHTML }}
<section class="section-sm overlay" style="background-image: url('{{ .Site.Data.homepagePonudba.bgImage | absURL }}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-auto">
                <div class="rounded p-sm-5 px-3 py-5 bg-secondary">
                    {{ with .Site.Data.homepagePonudba.title }} <h3 class="section-title section-title-border-half text-white">{{ . }}</h3> {{ end }}
                    {{ with .Site.Data.homepagePonudba.description }} <p class="text-white mb-40">{{ . }}</p> {{ end }}
                    <div>
                        <ul class="ignore-list-style list-inline row">
                            {{ range .Site.Data.homepagePonudba.list }}
                            <li class="font-secondary mb-10 text-white col-xs-6 col-sm-6 col-md-6">
                                <i class="text-primary mr-2 ti-arrow-circle-right"></i>
                                {{ if .link }}
                                    <a href="{{ .link }}" class="text-white">{{ .text }}</a>
                                {{ else }}
                                    {{ .text }}
                                {{ end }}
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- /ponudba -->" | safeHTML }}

{{ if (where (where .Site.RegularPages "Type" "novice") ".Params.exposed" true) }}
{{ "<!-- novice -->" | safeHTML }}
<section class="section bg-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="section-title section-title-border-gray">Novice</h2>
            </div>

            {{ range $index, $element := where (where .Site.RegularPages "Type" "novice") ".Params.exposed" true }}
            {{ if lt $index 3}}
            {{ "<!-- novice-item -->" | safeHTML }}
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="{{ .Permalink }}" class="h4 font-primary text-dark">
                    <article class="card">
                        <div class="card-img-wrapper overlay-rounded-top">
                            <img class="card-img-top mx-auto d-block post-img" src="{{ .Params.image | absURL }}" alt="blog-thumbnail">
                        </div>
                        <div class="card-body p-0">
                            <div class="d-flex border-top">
                                <div class="py-3 px-4 border-right text-center">
                                    <h4 class="text-primary mb-0 no-line-break-for-space">{{ .PublishDate.Format "2. 1." }}</h4>
                                    <p class="mb-0">{{ .PublishDate.Format "2006" }}</p>
                                </div>
                                <div class="d-flex align-items-center card-title-text">
                                    {{ .Title }}
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- /novice -->" | safeHTML }}
{{ end }}


{{ if .Site.Data.stranke.enable }}
{{ if .Site.Data.stranke.list }}
{{ "<!-- stranke -->" | safeHTML}}
<section class="section section-extended-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title section-title-border">{{ .Site.Data.stranke.title }}</h2>
            </div>

            <div class="col-lg-12">
                <div class="client-logo-slider">
                    {{ range .Site.Data.stranke.list }}
                    <a href="{{ .url | absURL }}" class="text-center d-block outline-0 py-3 px-4">
                        <img class="d-unset" src="{{ .image | absURL }}" alt="client-logo" style="width:100%">
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- /stranke -->" | safeHTML}}
{{ end }}
{{ end }}


{{ partial "footer.html" . }}